<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deactivation Email</title>
</head>
<body>
    <p>Dear {{ first_name }},</p>
    
    <p>Your profile has been deactivated by the Admin.</p>
    <p>Kindly reach us at +94772958078 for inquiries.</p>
    <p>Thanks,</p>
    <p>Team W3G</p>
</body>
</html>
